<!-- <FilesMatch "apple-app-site-association">
    ForceType application/json
</FilesMatch> -->

<Files "apple-app-site-association">
    ForceType 'application/json'
</Files>

<!-- <FilesMatch "^apple-app-site-association$">
    ForceType application/json
</FilesMatch> -->